<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bituin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/61413390-42d1-4c08-9ca2-a65c9b113681/resourceGroups/Bituin/providers/Microsoft.Web/sites/Bituin</ResourceId>
    <UserName>$Bituin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bituin.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>